@model IEnumerable<OnlineDiscussion.Models.CommentView>

@{
    ViewData["Title"] = "Index";
}



<style>
    .text-right {
        text-align: right;
    }
</style>
<div class="container">
    <h1 class="text-center">Comments On Topic</h1>
    <div class="text-right">
        <a asp-action="Create" asp-route-id="@ViewData["topicid"]" class="btn btn-success btn-sm">new Comment</a>
    </div>
</div>
<hr />
<div class="container">

    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-md-4">
                <div class="card">
                   
                    <div class="card-body">
                        <p class="card-text"> @Html.DisplayFor(modelItem => item.CommentText)</p>
                        <p class="card-text"><b> Posted on:</b>  @Html.DisplayFor(modelItem => item.posteddate)</p>
                        <p class="card-text"><b>Created by:</b> @Html.DisplayFor(modelItem => item.user.Email)</p>
                        <p>


                            <a asp-action="Edit" class="btn btn-primary btn-sm" asp-route-id="@item.CommentId">📝</a> |
                            <a asp-action="Details" class="btn btn-warning btn-sm" asp-route-id="@item.CommentId">👁</a> |
                            <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.CommentId">❌</a>
                        </p>
                    </div>
                </div>
            </div>

        }


    </div>
</div>



@*
<h1 class="text-center">Comments on Topic</h1>

<p>
    <a class="btn btn-success" asp-action="Create" asp-route-id="@ViewData["topicid"]">Add Comment</a>
</p>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>
               Comments
            </th>
            <th>
               Posted Date
            </th>
            <th>
               Name
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommentText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.posteddate)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user.Email)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CommentId" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CommentId" class="btn btn-warning">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CommentId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@