@model IEnumerable<OnlineDiscussion.Models.TopicViewModel>

@{
    ViewData["Title"] = "Index";
}

<style>
    .text-right {
        text-align: right;
    }
</style>
<div class="container">
    <h1 class="text-center">Topics</h1>
    <div class="text-right">
        <a asp-action="Create" class="btn btn-success btn-sm">new topic</a>
    </div>
</div>
<hr />
<div class="container">
    
    <div class="row">
        @foreach (var item in Model) {

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                        <h5> @Html.DisplayFor(modelItem => item.TopicName)</h5>
                </div>
                <div class="card-body">
                        <p class="card-text">@Html.DisplayFor(modelItem => item.description)</p>
                        <p class="card-text"><b>Created on:</b> @Html.DisplayFor(modelItem => item.CreatedDate)</p>
                        <p class="card-text"><b>Created by:</b> @Html.DisplayFor(modelItem => item.user.Email)</p>
                    <p>
                            <a asp-action="Index" asp-controller="FriendsViews" class="btn btn-info btn-sm" asp-route-id="@item.TopicId">👤</a> |
                            <a asp-action="Index" asp-controller="CommentViews" class="btn btn-success btn-sm" asp-route-id="@item.TopicId">🗯</a> |

                            <a asp-action="Edit" class="btn btn-primary btn-sm" asp-route-id="@item.TopicId">📝</a> |
                            <a asp-action="Details" class="btn btn-warning btn-sm" asp-route-id="@item.TopicId">👁</a> |
                            <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.TopicId">❌</a>
                    </p>
                </div>
            </div>
        </div>

        }
       
      
    </div>
</div>

@*<p class="text-right">
    <a asp-action="Create" class="btn btn-success">New Topic</a>
</p>
<Br />
<table border="2" class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                Topic Name
            </th>
            <th>
                Topic Description
            </th>
            <th>
                Created Date
            </th>
            <th>
                Created By
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TopicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user.Email)
                </td>
            <td>
                    <a asp-action="Index" asp-controller="FriendsViews" class="btn btn-info" asp-route-id="@item.TopicId">Friend</a> |
                    <a asp-action="Index" asp-controller="CommentViews"  class="btn btn-success" asp-route-id="@item.TopicId">Comment</a> |

                    <a asp-action="Edit" asp-route-id="@item.TopicId" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TopicId" class="btn btn-warning">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TopicId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@